@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", systerm-ui, system-ui, -apple-system, Segoe UI, Arial,
    sans-serif;
  line-height: 1.4;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(1100px, 92%);
  margin: 0 auto;
}

.hero {
  background: #1f2937;
  color: #f9faf8;
  padding: 18px 0 90px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-top: 70px;
}

.hero-text {
  flex: 1;
  max-width: 470px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.btn {
  margin-top: 14px;
  background: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  border: none;
  padding: 10px 32px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-placeholder {
  width: 100%;
  max-width: 520px;
  height: 240px;
  background: rgba(229, 231, 235, 0.35);
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.info {
  padding: 48px 0 96px;
  background: #ffffff;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 44px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 44px;
  flex-wrap: wrap;
}

.card {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #1f2937;
}

.box {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 14px;
}

.card p {
  font-size: 16px;
  color: #1f2937;
  opacity: 0.85;
}

.quote {
  background-color: #e5e7eb;
  padding: 96px 0;
}

.quote-inner {
  width: min(850px, 92%);
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-author {
  margin-top: 14px;
  text-align: right;
  font-weight: 900;
  color: #1f2937;
  font-size: 20px;
}

.cta {
  background: #ffffff;
  padding: 80px 0;
}

.cta-box {
  background: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 44px 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.cta-text h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 4px;
}

.cta-text p {
  color: #e5e7eb;
}

.btn-outline {
  background: transparent;
  border: 2px solid #f9faf8;
  padding: 10px 32px;
  border-radius: 10px;
}

.footer {
  background: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 36px 0;
  font-size: 18px;
}
